.DS_Store
BlueConnect.xcodeproj/project.pbxproj
BlueConnect.xcodeproj/project.pbxproj
BlueConnect.xcodeproj/project.xcworkspace/xcuserdata/alex.xcuserdatad/UserInterfaceState.xcuserstate
BlueConnect.xcodeproj/project.xcworkspace/xcuserdata/alex.xcuserdatad/UserInterfaceState.xcuserstate
BlueConnect.xcodeproj/project.xcworkspace/xcuserdata/alex.xcuserdatad/UserInterfaceState.xcuserstate
